@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
  background: theme('colors.white');
}

::-webkit-scrollbar-thumb {
  background: theme('colors.gray.100');
  border-radius: 6px;
  border: 3px solid theme('colors.white');
}

::-webkit-scrollbar-corner {
  background: theme('colors.gray.100');
}

.dark ::-webkit-scrollbar {
  background: theme('colors.gray.900');
}

.dark ::-webkit-scrollbar-thumb {
  background: theme('colors.gray.800');
  border: 3px solid theme('colors.gray.900');
}

.dark ::-webkit-scrollbar-corner {
  background: theme('colors.gray.800');
}

* {
  -ms-overflow-style: initial;
  scrollbar-width: initial;
  scrollbar-color: theme('colors.gray.100') theme('colors.white');
}

.dark * {
  scrollbar-color: theme('colors.gray.800') theme('colors.gray.900');
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: theme('colors.sky.500');
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.dark #nprogress .bar {
  background: theme('colors.sky.400');
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px theme('colors.sky.500'), 0 0 5px theme('colors.sky.500');
  opacity: 1;

  -webkit-transform: rotate(3deg) trangray(0px, -4px);
  -ms-transform: rotate(3deg) trangray(0px, -4px);
  transform: rotate(3deg) trangray(0px, -4px);
}

.dark #nprogress .peg {
  box-shadow: 0 0 10px theme('colors.sky.400'), 0 0 5px theme('colors.sky.400');
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 100;
  bottom: 15px;
  right: 15px;
  opacity: 1;
  will-change: opacity;
  transition: opacity 0.2s ease-in-out;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: theme('colors.sky.500');
  border-left-color: theme('colors.sky.500');
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.dark #nprogress .spinner-icon {
  border-top-color: theme('colors.sky.400');
  border-left-color: theme('colors.sky.400');
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
